<div class="jumbotron">
  <h1>Hello</h1>
  <p>
    ¡Venusaur, Charizard, Blastoise, Pikachu, y otros muchos Pokémon se han descubierto en el planeta Tierra!
  </p>
  <p>
    Ahora es tu oportunidad para descubrir y capturar a los Pokémon a tu alrededor: así que ponte los zapatos, sal, y explora el mundo. Te unirás a uno de los tres equipos y combatirás por el prestigio y la propiedad de los Gimnasios con tu Pokémon a tu lado.
  </p>
  <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
</div>
